In [1]:
from myst_nb import glue

# Evaluation

In [2]:
from meddocan.evaluation.classes import BratAnnotation, EvaluateSubtrack1, EvaluateSubtrack2, EvaluateSubtrack2merged, Evaluate, Span

gold_annotation = BratAnnotation("../../samples/gold/brat/sample/S0004-06142005000700014-1.ann")
sys_annotation = BratAnnotation("../../samples/system/brat/subtrack2/sample/baseline/S0004-06142005000700014-1.ann")

/home/wave/Project/MedDocAn/.venv/lib/python3.8/site-packages/requests/__init__.py:109: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.0.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn(

In [3]:
e = EvaluateSubtrack1({sys_annotation.id: sys_annotation}, {gold_annotation.id: gold_annotation})
e.print_report()

File 'freeling/sentence_splitted/S0004-06142005000700014-1.ann' not found.

Report (baseline):
------------------------------------------------------------
Subtrack 1 [NER]                   Measure        Micro
------------------------------------------------------------
Total (1 docs)                     Leak           NA
                                   Precision      0.2941
                                   Recall         0.2
                                   F1             0.2381
------------------------------------------------------------

In [4]:
e = EvaluateSubtrack1({sys_annotation.id: sys_annotation}, {gold_annotation.id: gold_annotation})
e.print_docs()

File 'freeling/sentence_splitted/S0004-06142005000700014-1.ann' not found.


Report (baseline):
------------------------------------------------------------
Document ID                        Measure        Micro
------------------------------------------------------------
S0004-06142005000700014-1          Leak           NA
                                   Precision      0.2941
                                   Recall         0.2
                                   F1             0.2381
------------------------------------------------------------

Extraemos los distintos objetos que contienen la información a detectar.

In [5]:
ner = sorted(Evaluate.get_tagset_ner(gold_annotation), key=lambda a: a.start)
span = sorted(Evaluate.get_tagset_span(gold_annotation), key=lambda a: a.start)
span_merged = sorted(Evaluate.get_tagset_span_merged(gold_annotation), key=lambda a: a.start)

Podemos visualizar un ejemplo al azar para hace una idea de las características que se debe detectar en cada variante.

In [6]:
import pandas as pd
from itertools import zip_longest

df = pd.DataFrame(zip_longest((ner[1][i] for i in [1,2,0]), span[1], span_merged[1]), columns=["NER", "SPAN", "SPAN MERGED"], index=["START", "END", "TAG"])
df

                            NER  SPAN  SPAN MERGED
START                        47  47.0         47.0
END                          62  62.0         62.0
TAG    NOMBRE_SUJETO_ASISTENCIA   NaN          NaN

Para entender las diferencias, pongamos un ejemplo ilustrativo donde span y spam merged son distinctos.

In [12]:
from typing import List, Tuple

diff = set(span_merged) - set(span)  # difference between merge span and span

for i, _diff in enumerate(diff):

    indexes: List[Tuple[str, int]] = []
    span_merged_array = (_diff.start, _diff.end, f"{gold_annotation.text[_diff.start: _diff.end]!r}", None)
    indexes.append(("SPAN MERGED", i+1))

    ner_array: List[List[int]] = []  # List of ner object "include" in span_merged

    cpt = 0
    for _ner in ner:
        if _ner.end <= _diff.end and _ner.start >= _diff.start:
            cpt += 1
            ner_array.append((_ner.start, _ner.end, f"{gold_annotation.text[_ner.start: _ner.end]!r}", _ner.tag))
            indexes.append(["NER", cpt])
        else:
            cpt = 0

    df_index = pd.DataFrame(indexes, columns=["Track", "Num"])
    df = pd.DataFrame(
        [span_merged_array] + ner_array,
        columns=["START", "END", "TEXT", "TAG"],
        index=pd.MultiIndex.from_frame(df_index)
    )

    with pd.option_context(
        "display.min_rows", 50, "display.max_rows", 100, \
        "display.max_columns", 15, 'display.max_colwidth', 150):
        glue("evaluation_subtrack_comparison", df)
        pass
    # glue("evaluation_subtrack_comparison", df)
    print("\n")
    break

                 START   END  \
Track       Num
SPAN MERGED 1     3576  3635
NER         1     3576  3605
            2     3606  3611
            3     3612  3618
            4     3621  3627
            5     3629  3635

                                                                          TEXT  \
Track       Num
SPAN MERGED 1    'Carretera de Toledo km 12,500 28905 Getafe - Madrid (España'
NER         1                                  'Carretera de Toledo km 12,500'
            2                                                          '28905'
            3                                                         'Getafe'
            4                                                         'Madrid'
            5                                                         'España'

                        TAG
Track       Num
SPAN MERGED 1          None
NER         1         CALLE
            2    TERRITORIO
            3    TERRITORIO
            4    TERRITORIO
            5          PAIS

Obtain the ner annotation in common between gold and sys doc

In [8]:
gold_ner = set(Evaluate.get_tagset_ner(sys_annotation))
sys_ner = set(Evaluate.get_tagset_ner(gold_annotation))

fp = sys_ner - gold_ner  # Annotation detected that are not in the gold standard Annotation set.
tp = gold_ner.intersection(sys_ner)
fn = gold_ner - sys_ner

In [9]:
precision = len(tp) / (len(tp) + len(fn))
precision

0.29411764705882354